@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>In this assignment we are building an application using C# and ASP .NET, following the MVC architectural design
        pattern.
        <p>Functionalities include:
            <ul>
                <li>Home page reads a JSON file, acting as database, and displays all the bank's acounts information in
                    a table.</li>
                <li>API routes allow for receiving a JSON response with either all accounts or specific account by number (see API).</li>
                <li>Money can be transfered between two accounts either by using an HTML form or the API route (see API page - use Postman).</li>
            </ul>
        </p>
</div>