@{
    ViewData["Title"] = "Home";
    List<Account> accounts = webapp.Services.AccountService.ReadAccounts();
    int totalAccounts = accounts.Count();
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>There is a total of @totalAccounts account(s) in the database.</p>
    </div>

    @{
        if (totalAccounts > 0) 
        {   
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Number</th>
                        <th>Balance</th>
                        <th>Label</th>
                        <th>Owner</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var account in accounts)
                    {
                        <tr>
                            <td>@account.Number</td>
                            <td>@account.Balance</td>
                            <td>@account.Label</td>
                            <td>@account.Owner</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>

